@use "./reset";

$main-color: #006c35;
$secondary-color: #ffddab;
$cream: #f5fffa;

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: $main-color;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-height-none {
	height: 0;
}

.login-box {
	padding: 10px 20px;
	text-align: center;
	width: 100%;
	max-width: 400px;
}

.logo {
	font-weight: bold;
	color: white;

	span {
		display: block;
		font-size: 2.5rem;
	}
}

.form-control,
.form-control {
	padding: 10px;
	font-size: 1.3rem;

	&::placeholder {
		color: $main-color;
		font-size: 1.3rem;
	}

	&:focus {
		box-shadow: none;
		border: 2px solid #000;
	}
}

.login-btn {
	margin-top: 10px;
	padding: 1em;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: white;
	color: $main-color;

	&:hover {
		background-color: white;
		color: $main-color;
	}
}

.text-bottom {
	display: block;
	margin-top: 2em;
	font-size: 1.5rem;
	color: #fff;
}

.signup-link {
	display: block;
	padding: 10px;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 20px;
	border-radius: 5px;
	text-decoration: none;

	&:hover {
		background-color: white;
		color: $main-color;
	}
}

.register-form {
	.form-text {
		display: block;
		margin-top: 1.5em;
		color: white;
		font-size: 1.2rem;
	}
}

.main-app {
	.nav {
		padding: 5px;
		background-color: $main-color;

		.navbar {
			justify-content: space-between;
		}

		.navbar-toggler {
			padding: 10px 15px;
			font-size: 2rem;
			border: 1px solid #333;
		}

		.navbar-nav {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin: 15px 0;

			.nav-link {
				font-size: 1.5rem;
				color: white;
			}
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 70px);

		.map {
			border: 2px solid #000;
			max-width: 1300px;
			max-height: 900px;
		}

		.text-bottom {
			margin-top: 15px;
			font-weight: bold;
			color: $main-color;
		}
	}
}

@media (width >= 576px) {
	.logo {
		font-size: 2.5rem;
	}
}

@media (width >= 768px) {
	.login-box {
		padding: 3rem 2rem;
	}
}

@media (width >= 992px) {
	.main-app {
		.nav {
			.navbar-nav {
				margin-left: auto;
				flex-direction: row;
				margin-top: 0;
				margin-bottom: 0;
			}

			.nav-link {
				padding: 10px;
				display: block;
			}
		}
	}
}
